body {
  font-family: monospace;
  background: -webkit-linear-gradient(left, #6c73b3 0%, #a8d2f8 100%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.accordion {
  width: 450px;
  margin-top: 200px;
}

.js-collapsible {
  &-trigger {
    cursor: pointer;
    transition: background-color ease 0.5s;
    padding: 5px;
    :hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &-section {
    position: relative;
    height: 30px;
    background-color: rgba(199, 65, 65, 0.55);
    color: #fefefe;
    letter-spacing: 1px;
    text-align: center;
    line-height: 2;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
  }

  &-section::after {
    font-weight: normal;
    content: "v";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: transform ease 0.6s;
  }

  &-content {
    border: 1px dotted rgba(0, 0, 0, 0.3);
    margin-top: 1em;
    display: none;
    padding: 10px;
    background: white;
    margin: 5px 0 0 0;
    border-radius: 4px;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collapsible-open .js-collapsible-section::after {
  transform: translateY(-50%) rotate(-180deg);
}
.collapsible-open .js-collapsible-content {
  display: block;
}
