.accordion .js-collapsible {
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 1em;
  padding: 10px;

  &-trigger {
    cursor: pointer;
  }

  &-section {
    margin: 0;
    position: relative;
    padding-right: 30px;
    ::after {
      content: "v";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: rgb(246, 64, 101);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-content {
    border: 1px dotted rgba(0, 0, 0, 0.3);
    margin-top: 1em;
  }
}
